@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply dark:bg-[#2b2b2b] bg-white font-poppins text-[.938rem] m-[0_0_3rem_0] lg:my-12 duration-300;
}

/* dark:bg-[#2b2b2b] */

/* FONTS */
@font-face {
	font-family: 'Poppins';
	src: local('Poppins Regular'), local('Poppins-Regular'),
		url('./fonts/Poppins-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins Medium'), local('Poppins-Medium'),
		url('./fonts/Poppins-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins';
	src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
		url('./fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
